<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1 style="font-family:'Open Sans', sans-serif;font-weight:800">What is this?</h1>
            <h3>A WVU Experience tailored to <i>you</i>.</h3>
            <hr>
        </div>
    </div>
    <p>This site is an aggregated source of all issues that students have submitted via our campaign staff. To submit an issue, find our campaign - The WVU Experience (Scott & Braxton 2015) - stationed around campus. Each issue has a vote that all students, after logging into his or her student MIX account, can increase by "upvoting" the issue. To upvote an issue, click on the upwards facing arrow beside the issue listing or the upwards facing arrow on the issue's posting page.</p>
    <p>This about page was recently created and its contents are likely to soon change. If you have any questions or problems with using the site, please contact us at <a href="mailto:scottbraxton2015@gmail.com">scottbraxton2015@gmail.com</a>.</p>
    <p>This project, and all of our campaign's web presence, are FOSS (free and open source software) and can be found on <a href="https://github.com/WVUExperience">our GitHub page</a>.</p>
</div>