<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1 style="font-family:'Open Sans', sans-serif;font-weight:800">Issues at WVU</h1>
            <hr>
        </div>
    </div>
    {{#posts}}
    <div class="col-lg-6 col-sm-12 post">
        <div class="post-content row">
            <div class="votes col-sm-1">
                <i class="glyphicon glyphicon-arrow-up" style="display: block;margin: 0 auto;" data-slug="{{Path}}" data-voted="{{Votes.HasVoted}}"></i>
                <span class="count">
                    {{Votes.Count}}
                </span>
            </div>
            <a href="/issue/{{Path}}">
                <img src="/i/{{PostImage}}">
            </a>
            <div class="col-sm-8" style="display:inline-block;float:right;width:66.6666%;padding-right:0;padding-left:25px;">
                <h4 style="margin-top:0;">
                    <a href="/issue/{{Path}}">
                        {{Title}}
                    </a>
                </h4>
                <span class="label label-category" style="display:table-cell">{{Category}}</span>
                <span>Submitted by {{Student.Name}}</span>
            </div>
        </div>
    </div>
    {{/posts}}
    {{^posts}}
        <h2>No posts have been made yet. :(</h2>
    {{/posts}}
</div>