<div class="container">
    <div class="issue-container">
        <div class="col-md-6 col-xs-12">
            <img class="issue-image" src="/i/{{post.PostImage}}">
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="votes col-xs-2 col-sm-2">
                <i class="glyphicon glyphicon-arrow-up" style="display: block;margin: 0 auto;" data-slug="{{post.Path}}" data-voted="{{post.Votes.HasVoted}}"></i>
                <span class="count">
                    {{post.Votes.Count}}
                </span>
            </div>
            <h2 class="issue-title visible-md visible-lg">{{post.Title}}</h2>
            <h2 class="issue-title visible-xs visible-sm clearfix">{{post.Title}}</h2>
            <h4>Submitted by {{post.Student.Name}}, {{post.Student.Tagline}}</h4>
            <hr>
            <p>
                <b>Issue Category: </b>
                <span class="label label-category">{{post.Category}}</span>
                <br>
                <b>About this issue: </b>
                <br>
                {{post.Description}}
            </p>
        </div>
    </div>
    <hr>
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'scottbraxton2015voteexp'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>