<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <title>Your Experience - Scott Braxton 2015</title>
    </head>
    <body>
        <div id="main">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="text-center">
                    <a href="/">
                        <img alt="The Experience Scott Braxton 2015" src="http://www.thewvuexperience.com/img/exp/ScottBraxton_TransparentBG.gif" style="width:300px;">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <div class="container">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Home</a></li>
                            <li><a href="http://thewvuexperience.com">Campaign Home</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {{#user}}
                                {{#Staff}}
                                <li><a href="/staff/dashboard">Staff Dashboard</a></li>
                                {{/Staff}}
                            <li><a href="#">{{Name}}</a></li>
                            <li><a href="{{Logout}}">Logout</a></li>
                            {{/user}}
                            {{^user}}
                            <li>
                                <script type="text/javascript" id="loginScript">
                                    //a dirty way to embed a login link with valid returnUrl
                                    document.write("<a href='/login?returnUrl=" + encodeURIComponent(document.URL) + "'>Login</a>");
                                    document.getElementById("loginScript").remove();
                                </script>
                            </li>
                            {{/user}}
                        </ul>
                    </div>
                </div>
            </nav>
            {{{content}}}
            <div id="footer-push"></div>
        </div>
        <footer>
            <div class="container">
                <span>&copy; 2015 The Experience | <a href="https://github.com/WVUExperience/whiteboard">Open Source, MIT</a></span>
            </div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>